*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

#navegation{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 3.5rem;
    padding: 0 1.5rem;
}

#navegation .youtube{
    margin-left: 2rem;
}

.center{
    width: 25.25rem; 
    display: flex;
}

.center input{
    width: 21.75rem;
    height: 2.5rem;
    border: 1px solid lightgray;
}

.center .image{
    align-content: center;
    background-color: #f8f8f8;
    width: 3.6rem;
    height: 2.5rem;
    border: 1px solid lightgray;
}
.center .image img{
    margin: 0 0.7rem;
}

.right{
    display: flex;
    gap: 1.5rem; 
    height: 1.5rem;
    align-items: center;
}

.right .avatar{
    height: 2.125rem; 
}

main{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-left: 2.8rem;
    
}

#principal .imageVideoDio{
    max-width: 57.5rem;
    width: 100%;
    height: auto;
    margin: 1.75rem 0 0 0;
}

#principal h3{
    font-size: 1.25rem;
    font-weight: 600;
    padding: 1rem 0;
}

#principal .dados{
    font-size: 1.25rem;
    font-weight: 600;
    padding: 1rem 0;
}

#principal .description{
    font-size: 1.25rem;
    font-weight: 400;
    padding: 1rem 0;
    width: 31.9rem;
    color: #515151;
}

.dadosVideo{
    height: 2.6rem;
    width: 56.375rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.videoItem{
    display: flex;
    
}

#principal .dados,
.description p{
    font-size: 14px;
}

#next{
    width: 23.25rem;
    height: 58.625rem;
    margin: 1.75rem 0 0 0.775rem;
    
}

#next .videoItem figure img{
    height: 5.625rem;
    width: 10rem;
    margin-bottom: 0.5rem;
    
}

.videoDescription{
    width: 12.25rem;
    margin-left: 0.5rem;
}
.videoDescription h5{
    font-size: 0.875rem;
}

.videoDescription p{
    font-size: 0.75rem;
    color: #515151;
}

.videoDescription .dio{
    margin: 8px 0;
    font-weight: 400;
}

@media (max-width: 760px) {
    main {
        grid-template-columns: 1fr; 
    }

    #principal {
        order: 1;
    }

    #next {
        order: 2;
        margin-left: 0;
             
        width: 100%;        
    }

    .dadosVideo,
    .imageVideoDio {
        width: 100%;        
        max-width: 100%;
    }
}